@font-face {
  font-family: "ProximaNova-Extrabold";
  font-style: normal;
  src: url("../fonts/ProximaNova-Extrabld.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  font-style: normal;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
}
