$accent: #09b808;
$btn: #66a0f7;
$title: #36365d;
$bg: #fff;
$default: #ececec;

%proxima-800 {
  font-family: "ProximaNova-Extrabold", sans-serif;
  font-weight: 800;
}

%proxima-700 {
  font-family: "ProximaNova-Bold", sans-serif;
  font-weight: 700;
}

%proxima-600 {
  font-family: "ProximaNova-Semibold", sans-serif;
  font-weight: 600;
}

%proxima-400 {
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: 400;
}

%btn {
  padding: 17px 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: $accent;
  @extend %proxima-700;
  box-shadow: 0px 0px 20px rgba(9, 184, 8, 0.2);
  border-radius: 40px;
  border: none;
  cursor: pointer;
}

// %checkbox-hiden,
// %radio-hiden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

// @function max($numbers...) {
//   @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//   @return m#{i}n(#{$numbers});
// }
