$accent: #043446;
// $btn: #66a0f7;
$title: #14a1d5;
$bg: #021926;
// $default: #ececec;

%gilroy-700 {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 700;
}

%gilroy-600 {
  font-family: "Gilroy-Semibold", sans-serif;
  font-weight: 600;
}

%gilroy-500 {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;
}

%gilroy-400 {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
}

%gilroy-300 {
  font-family: "Gilroy-Light", sans-serif;
  font-weight: 300;
}

// Gilroy-Light %btn {
//   padding: 17px 40px;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   color: #fff;
//   background-color: $accent;
//   @extend %proxima-700;
//   box-shadow: 0px 0px 20px rgba(9, 184, 8, 0.2);
//   border-radius: 40px;
//   border: none;
//   cursor: pointer;
// }

// %checkbox-hiden,
// %radio-hiden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

// @function max($numbers...) {
//   @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//   @return m#{i}n(#{$numbers});
// }
