@import "libs";
@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  max-width: 100%;
  object-fit: contain;
  opacity: 0.8;
  background-color: #0e1a29;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 69px 0 34px;
  &__logo {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__logo-img {
    max-width: 208px;
    height: 27px;
    margin-right: 20px;
  }
  &__logo-text {
    font-size: 13px;
    line-height: 17px;
    @extend %gilroy-400;
    color: #b6b6b6;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 55px;
  }
  &__social-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  &__phone-number {
    @extend %gilroy-400;
    font-size: 20px;
    line-height: 17px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 22px;
      background-image: url(../images/logo/header-phone.svg);
      background-repeat: no-repeat;
      background-size: cover;
      left: -20px;
    }
  }
  &__language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    position: relative;
    &::before {
      content: "";
      width: 2px;
      height: 19px;
      background-color: #c2c3c4;
      position: absolute;
      left: 33px;
    }
  }
  &__language-text {
    @extend %gilroy-400;
    font-size: 17.5px;
    line-height: 23px;
    opacity: 0.63;
    color: rgba(255, 255, 255, 0.63);
    & + .header-inner__language-text {
      margin-left: 22px;
    }
    &.header-inner__language-text--active {
      @extend %gilroy-700;
      font-size: 17.5px;
      line-height: 23px;
      opacity: 1;
      color: #fff;
    }
  }
}

@import "media";
